{% extends "base.html" %}
{% block content %}

{% if message %}

<div class="alert alert-info">
    {{message}}
</div>

{% endif %}

<h1>Tehtäväluokat</h1>

<p>
    <a href="{{base_path}}/luokat/lisaa" class="btn btn-success">Lisää luokka</a>
</p>

<table class="table table-striped table-bordered">
    
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Aliluokkia</th>
            <th>Tehtäviä</th>
            <th>Luotu</th>
            <th>Kuuluu luokkaan</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for luokka in luokat %} 
        <tr>
            <td><a href="{{base_path}}/luokat/{{luokka.id}}">{{luokka.nimi}}</a></td> 
            <!--kun tästä, (aliluokkien lkmäärästä) klikkaa, aukeaa lista aliluokista:-->
            <td>{{luokka.aliluokka_count}}</a></td> 
            <td>{{luokka.tehtavat_count}}</a></td> 
            <td>{{luokka.luotupvm}}</td>
            <td><a href="{{base_path}}/luokat/{{luokka.yliluokka}}"></a>{{luokka.yliluokka.nimi}}</td> <!--miten pitäisi toimia?-->
            <th><a class="btn btn-default btn-sm" href="{{base_path}}/luokat/{{luokka.id}}/muokkaa">Muokkaa luokkaa</a></th>
            <th>
                <form method="post" action="{{base_path}}/luokat/{{luokka.id}}/poista" style="display: inline-block;">
                <button type="submit" class="btn btn-danger">Poista</button>
                </form>
            </th>
    </tr>
        {% endfor %}
    </tbody>
    
</table>

{% endblock %}