{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<h1>Luokka: {{luokka.nimi}}</h1>
<br>

<div>
    <a href="{{base_path}}/luokat/{{luokka.id}}/muokkaa" class="btn btn-default">Muokkaa</a>
    <form method="post" action="{{base_path}}/luokat/{{luokka.id}}/poista" style="display: inline-block;">
        <button type="submit" class="btn btn-danger">Poista</button>
    </form>
</div>

<div>
    <ul>  
        <br>
        <li><strong>Kuuluu luokkaan: </strong><a href="{{base_path}}/luokat/{{yliluokka.id}}">{{yliluokka.nimi}}</a></li>
        <li><strong>Luotu: </strong>{{luokka.luotupvm}}</li>

    </ul>
</div>

<div>
    <p> <strong>Kuvaus:</strong></p>
    <p>{{luokka.kuvaus}}</p>
</div>

<div>
    <p><strong>Luokan tehtävät: </strong></p>
    <ul>
        {% for tehtava in tehtavat %}
        <li><a href="{{base_path}}/tehtavat/{{tehtava.id}}">{{tehtava.nimi}}</a></li>
        {% endfor %}
    </ul>
</div>

<div>
    <p><strong>Sisältää luokat:</strong></p>
    <ul>
        {% for aliluokka in aliluokat %}
        <li><a href="{{base_path}}/luokat/{{aliluokka.id}}">{{aliluokka.nimi}}</a></li>
        {% endfor %}
    </ul>
</div>

{% endblock %}