{% extends "base.html" %}
{% block content %}
  <h1>Muokkaa tehtävää: Kastele kukat</h1>

  <form>
    <div class="form-group">
      <label>Nimi</label>
      <input type="text" class="form-control" value="Kastele kukat">
    </div>
    <div class="form-group">
      <label>Määräpäivä</label>
      <input type="text" class="form-control" value="11.11.2017">
    </div>
    <div class="form-group">
      <label>Tärkeys</label>
      <select>
          <option value="korkea">Korkea</option>
          <option value="normaali">Normaali</option>
          <option value="matala">Matala</option>
          <option value="tyhja"></option>
      </select>
    </div>
    <div class="form-group">
      <label>Kuvaus</label>
      <textarea class="form-control">   
      Rahapuu tarvitsee taas vettä.
      </textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
  </form>
{% endblock %}