{% extends "base.html" %}
{% block content %}
  <h1>{{tehtava.nimi}}</h1>
  <!-- Painikkeet tähän -->
  <p>
    <a href="{{base_path}}/tehtavat/muokkaa/{{tehtava.id}}" class="btn btn-default">Muokkaa</a> <button class="btn btn-danger">Poista</button> 
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Määräpäivä: </strong>{{tehtava.deadline}}</li>
    <li><strong>Luokka: </strong>{{tehtava.luokka.nimi}}</li>
    <li><strong>Tärkeys: </strong> <label class="label label-danger">{{tehtava.tarkeys}}</label></li>
    <li><strong>Lisätty: </strong>{{tehtava.luotupvm}}</li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
{{tehtava.kuvaus}}
  </p>
{% endblock %}