{% extends "base.html" %}
{% block content %}

{% if tervehdys %}

<div class="alert alert-success">
    {{tervehdys}}
</div>

{% endif %}


{% if message %}

<div class="alert alert-info">
    {{message}}
</div>

{% endif %}

<h1>Tehtävälista</h1>
<br>
<p>
    <a href="{{base_path}}/tehtavat/lisaa" class="btn btn-success">Lisää tehtävä</a>
</p>

<h4>Tärkeys:</h4>
<div class="form-group">
    <form method="get" action="" class="form-inline">
        <select class="form-control" name="tarkeys">  
            <option value="korkea" style="color: red; font-weight: bold">Korkea</option>
            <option value="neutraali" style="color: orange; font-weight: bold">Neutraali</option>
            <option value="matala" style="color: green; font-weight: bold">Matala</option>   
            <option value="" style="color: grey">Ei tärkeyttä</option>
        </select>
        <div class="btn-group"> <button type="submit" class="btn btn-default">Näytä</button> <a href="{{base_path}}/tehtavat" class="btn btn-default">Näytä kaikki</a> </div>
    </form>

    <h4>Luokka:</h4>
    <div class="form-group">
        <form method="get" action="" class="form-inline">
            <select class="form-control" name="luokka">
                {% for luokka in luokat %}
                <option value="{{luokka.id}}">{{luokka.nimi}}</option>
                {% endfor %}               
            </select>
            <div class="btn-group"><button type="submit" class="btn btn-default">Näytä</button><a href="{{base_path}}/tehtavat" class="btn btn-default">Näytä kaikki</a></div>
        </form>

    </div>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Nimi</th>
                <th>Tärkeys
                <th>Määräpäivä</th>
                <th>Lisätty</th>
                <th>Luokka</th> 
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>

            {% for tehtava in tehtavalista %}
            <tr>
                <td><a href="{{base_path}}/tehtavat/{{tehtava.tehtava_id}}">{{tehtava.tehtava_nimi}}</a></td>           
                <td>{% if tehtava.tarkeys == 'korkea' %}<a style="background-color: red; color: white; font-weight: bold; display: inline-block">{{tehtava.tarkeys}}</a>
                    {% elseif tehtava.tarkeys == 'matala' %}<a style="background-color: green; color: white; font-weight: bold; display: inline-block">{{tehtava.tarkeys}}</a>
                    {% elseif tehtava.tarkeys == 'neutraali' %}<a style="background-color: orange; color: white; font-weight: bold; display: inline-block">{{tehtava.tarkeys}}</a>
                    {% else %}<label>{{tehtava.tarkeys}}</label></td>
                {% endif %}
                <td>{% if tehtava.deadline < pvm %} <a style="color: red">{{tehtava.deadline}}</a>
                    {% else %} {{tehtava.deadline}}</td>  
                {% endif %}
                <td>{{tehtava.luotupvm}}</td>
                <td><a href="{{base_path}}/luokat/{{tehtava.luokka_id}}">{{tehtava.luokka_nimi}}</a></td>
                <th><a class="btn btn-default btn-sm" href="{{base_path}}/tehtavat/{{tehtava.tehtava_id}}/muokkaa">Muokkaa</a></th>
                <th>
                    <form method="post" action="{{base_path}}/tehtavat/{{tehtava.tehtava_id}}/poista" style="display: inline-block;">
                        <button type="submit" class="btn btn-danger">Poista</button>
                    </form>
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}