{% extends "base.html" %}
{% block content %}
<!--käytössä ('attributes' => $tehtava), ('errors' => $errors) ja ('luokat' => $luokat)-->

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>
            {{error}}
        </li>
        {% endfor %}
    </ul>        
</div>
{% endif %}

<h1>Muokkaa tehtävää: {{attributes.nimi}}</h1>

<form method="post" action="{base_path}/tehtavat/{{attributes.id}}/muokkaa">

    <div class="form-group">
        <label>Nimi</label>
        <input type="text" name="nimi" class="form-control" value="{{attributes.nimi}}">
    </div>

    <div class="form-group">
        <label>Määräpäivä</label>
        <input type="text" name="deadline" class="form-control" value="{{attributes.deadline}}">
    </div>

    <div class="form-group">
        <label>Tärkeys</label>
        <select name="tarkeys" class="form-control"> 
            <option selected value="{{attributes.tarkeys}}">{{attributes.tarkeys}}</option>
            <option value="matala">Matala</option>
            <option value="korkea">Korkea</option>
            <option value="neutraali">Neutraali</option>
            <option value=""></option>
        </select>
    </div>

    <div class="form-group">
        <label>Kuvaus</label>
        <input type="text" class="form-control" name="kuvaus" value="{{attributes.kuvaus}}">
    </div>

    <div>
        <label>Luokka</label>
        <select name="luokka" class="form-control"> 
            <option selectedvalue="{{attributes.luokka}}">{{attributes.luokka}}</option>   
            {% for luokka in luokat %} 
            <option value="{{luokka.id}}">{{luokka.nimi}}</option>
            {% endfor %}
            <option value=""></option>
        </select>    
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}