{% extends "base.html" %}
{% block content %}
  <h1>{{tehtava.nimi}}</h1>
  
  {% if message %}
  
  <div class="alert alert-success">
      {{message}}
  </div>
  
  {% endif %}
  
  <div>
      
    <a href="{{base_path}}/tehtavat/{{tehtava.id}}/muokkaa" class="btn btn-default" style="display: inline-block;">Muokkaa</a> 
    
                <form method="post" action="{{base_path}}/tehtavat/{{tehtava.id}}/poista" style="display: inline-block;">
                <button type="submit" class="btn btn-danger">Poista</button>
                </form>
            
  </div>
  
<br>
<ul>     
    <li><strong>Määräpäivä: </strong>   {{tehtava.deadline}}</li>
    <li><strong>Luokka: </strong><a style="font-size: 14" href="{{base_path}}/luokat/{{luokka.id}}">   {{luokka.nimi}}</a></li>
    <li><strong>Tärkeys: </strong> {% if tehtava.tarkeys == 'korkea' %}<a style="background-color: red; color: white; font-weight: bold; display: inline-block">{{tehtava.tarkeys}}</a>
                {% elseif tehtava.tarkeys == 'matala' %}<a style="background-color: green; color: white; font-weight: bold; display: inline-block">{{tehtava.tarkeys}}</a>
                {% elseif tehtava.tarkeys == 'neutraali' %}<a style="background-color: orange; color: white; font-weight: bold; display: inline-block">{{tehtava.tarkeys}}</a>
                {% else %}<label>{{tehtava.tarkeys}}</label>
                {% endif %}</li>
    <li><strong>Lisätty: </strong>   {{tehtava.luotupvm}}</li>
  </ul>
  
  <p>
{{tehtava.kuvaus}}
  </p>
{% endblock %}