{% extends "base.html" %}

{% block content %}

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<!--
<div class="page-header">
    <h1>Heippa!</h1>
    <p>Onhan sinulla jo oma muistilappusi?</p>
    <p>Jos ei, niin luo tunnukset tästä:</p>
    <button type="submit" class="btn btn-primary">Luo tunnukset<span class="glyphicon glyphicon-chevron-right"></span></button>
</div> -->

<div class="page-header">
    <h1>Heippa!</h1>
    <p>Muistilista auttaa pitämään asiat järjestyksessä.</p>
</div>

<div>
    {% if error %}

    <div class="alert alert-danger">
        {{error}}
    </div>
    
    {% endif %}   


    <h1>Kirjaudu sisään</h1>

    <!-- Kaikki lomakkeen elementit form-tagin sisään -->
    <form method="post" action="{{base_path}}/">
        <!-- Tekstikenttä käyttäjätunnukselle -->
        <div class="form-group">
            <label>Käyttäjätunnus</label>
            <input type="text" class="form-control" name="tunnus" value="{{tunnus}}">
        </div>

        <!-- Salasanakenttä salasanalle -->
        <div class="form-group">
            <label>Salasana</label>
            <input type="password" class="form-control" name="salasana">
        </div>

        <button type="submit" class="btn btn-primary">Kirjaudu sisään</button>
    </form>
</div>


<!--  
<p>
    <a href="http://tsoha.github.io" class="btn btn-primary btn-lg">Tutustu materiaaliin <span class="glyphicon glyphicon-chevron-right"></span></a>
  </p>
-->
{% endblock %}

